*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#windowButton{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button{
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 35%;
    padding: 2rem;
    top: 1rem;
}

button:hover{
    background-color: rgb(239, 238, 238);
}